html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: goldenrod;
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    height: 40px;
    width: 230px;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    color: goldenrod;
    font-size: 17px;
    background-color: transparent;
}

.btn:hover {
background-color: goldenrod;
color: white;
}

#skchPad {
    display: flex;
    margin: auto;
    width: 500px;
    height: 300px;
    border-style: none;
    background-color: whitesmoke;
    }

.row, .column {
    display: flex;
    background-color: white;
    border-color: grey;
    border-width: 1px;
    width: 1fr;
    height: 1fr;
}

.row:hover {
    background-color: darkgray;
    }
    
.column:hover {
    background-color: darkgray;
}